.d-flex li:hover {
  background-color: #0f0;
  transition: background-color 800ms;
}

#productList, #groupList, #deviceList, #changeDeviceList{
	text-align: left;
	padding-right: 2em;
	white-space: nowrap;
	width:350px;
	height:300px;
	overflow:scroll;
	border: solid 3px gray;
	margin: 0 auto;
	display: inline-block;
}

#area{
	padding-right: 2em;
	width:1000px;
	height:300px;
	margin: 0 auto;
	display: inline-block;
}

#productListMenu, #groupListMenu, #deviceListMenu{
	text-align: left;
	display:none;
	position:fixed;
	left:0px;
	top:0px;
	border:1px solid #000;
	background-color:#fff;
}

#productListMenu li, #groupListMenu li, #deviceListMenu li{
	cursor:pointer;
}
